*.ipynb_checkpoints
*.pyc
*.~lock
*.vscode
# LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.npy
*.run.xml
*.synctex.gz
# *.pdf
!paper/plots/*.pdf
*.zip
data/saved_normalised_kernel.pickle
data/wds_distance.pickle
paper/main.pdf
.DS_Store
SynBio_repo_designs
synbio_rbs/data/saved_normalised_kernel.pickle
synbio_rbs/sim/sim_results
synbio_rbs/sim/*.pdf