# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
argon2-cffi=20.1.0=pypi_0
async-generator=1.10=pypi_0
ca-certificates=2021.5.25=h06a4308_1
et-xmlfile=1.1.0=pypi_0
importlib-metadata=4.5.0=pypi_0
intel-openmp=2021.2.0=h06a4308_610
ipython-genutils=0.2.0=pypi_0
jupyter-client=6.1.12=pypi_0
jupyter-core=4.7.1=pypi_0
jupyterlab-pygments=0.1.2=pypi_0
ld_impl_linux-64=2.33.1=h53a641e_7
libgcc-ng=9.1.0=hdf63c60_0
libgfortran-ng=7.3.0=hdf63c60_0
libstdcxx-ng=9.1.0=hdf63c60_0
mkl-service=2.3.0=py36he8ac12f_0
nest-asyncio=1.5.1=pypi_0
numpy-base=1.19.2=py36hfa32c7d_0
prometheus-client=0.11.0=pypi_0
prompt-toolkit=3.0.18=pypi_0
python-dateutil=2.8.1=py_0
scikit-learn=0.24.2=pypi_0
scikit-learn-extra=0.1.0b2=pypi_0
typing-extensions=3.10.0.0=pypi_0
